@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --cor-primaria: #fff;
    --cor-segundaria: #B6BBC4;
    --cor-terceira: #31304D;
    --cor-escura: #161A30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor-primaria);
    background: linear-gradient(to right, var(--cor-segundaria), var(--cor-terceira));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: var(--cor-primaria);
    border-radius: 30px;
    box-shadow: 0 5px 15px var(--cor-escura);
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #7071E8;
    color: var(--cor-primaria);
    font-size: 12px;
    padding: 10px 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.escondido {
    background-color: transparent;
    border-color: var(--cor-primaria)
}

.container form {
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.fomr__container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sing-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sing-in {
    transform: translateX(100%);
}

.sing-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sing-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.rede__social {
    margin: 20px 0;
}

.rede__social a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.alterar__container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .alterar__container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0
}

.alterar {
    background-color: var(--cor-segundaria);
    height: 100%;
    background: linear-gradient(to right, var(--cor-terceira), var(--cor-escura));
    color: var(--cor-primaria);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

 .container.active .alterar{
    transform: translateX(50%);
 }

 .alterar__painel{
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 7pc;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
 }

 .alterar__esqueda{
    transform: translateX(-200%);
}

.alterar__container .alterar__esquerda{
    transform: translateX(0)
}
.alterar__direita{
    right: 0;
    transform: translateX(0);
}

.alterar__container .alterar__direita{
    transform: translateX(5%)
}
